#navbar-items {
    display: none;
}

.mobile-nav-overlay {
    align-items: center;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    margin-top: 48px;
    position: fixed;
    transition: all 0.1s ease-in;
    width: 100%;
    z-index: 1;
}

#mobile-menu-icon {
    position: absolute;
    left: 16px;
}

@media only screen and (min-width: 700px) {
    #navbar-items {
        display: flex;
    }
    #navbar-items2 {
        display: flex;
    }
    .mobile-home-btn {
        display: none;
    }  
}

@media only screen and (max-width: 700px) {
  
    .mobile-home-btn {
        position: fixed; 
       
         left: 20px; 
    }
    #navbar-items2{
        display:none
    }
    
}